<p>Countries GRPC</p>

<div class="countries">
  <button (click)="loadGrpc()" class="grpc">Load Grpc</button>

  <table>
    <tr>
      <th class="name">Name</th>
      <th class="desc">Description</th>
    </tr>
    <tr *ngFor="let c of countriesGrpc">
      <td>{{ c.name }}</td>
      <td>{{ c.description }}</td>
    </tr>
  </table>
</div>

<div class="countries">
  <button (click)="loadHttp()" class="http">Load Http</button>

  <table>
    <tr>
      <th class="name">Name</th>
      <th class="desc">Description</th>
    </tr>
    <tr *ngFor="let c of countriesHttp">
      <td>{{ c.name }}</td>
      <td>{{ c.description }}</td>
    </tr>
  </table>
</div>
